In [2]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
path_to_data= '../data/data.csv'
data = pd.read_csv(path_to_data)
# Display the first few rows of the dataset
data.head()

,Unnamed: 0,index,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After
0,0,150,Daichi,Steiner,37,S,1,T,64.2,57.3
1,1,26,Kaito,Carrasco,35,S,2,A,75.0,82.9
2,2,93,Sara,Castro,35,H,2,S,46.0,43.2
3,3,115,Ryouta,Carrasco,49,H,3,S,62.8,54.1
4,4,55,Daichi,Gonzalez,68,H,3,A,41.9,67.4

In [7]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Unnamed: 0          0
index               0
first_name          0
last_name           0
age                 0
Happy_Sad_group     0
Dosage              0
Drug                0
Mem_Score_Before    0
Mem_Score_After     0
dtype: int64

# observation
the data contain no missing data

In [10]:
data.drop('Unnamed: 0', axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [11]:
data.head()

,index,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After
0,150,Daichi,Steiner,37,S,1,T,64.2,57.3
1,26,Kaito,Carrasco,35,S,2,A,75.0,82.9
2,93,Sara,Castro,35,H,2,S,46.0,43.2
3,115,Ryouta,Carrasco,49,H,3,S,62.8,54.1
4,55,Daichi,Gonzalez,68,H,3,A,41.9,67.4

In [12]:
data.drop('index', axis=1, inplace=True)
data.drop('first_name', axis=1, inplace=True)
data.drop('last_name', axis=1, inplace=True)

In [13]:
from src.module_Support import check_unique_values
check_unique_values(data)

Found 2 categorical column(s) to check.

{'Happy_Sad_group': ['S', 'H'], 'Drug': ['T', 'A', 'S']}

AttributeError: 'DataFrame' object has no attribute 'checK_unique_values'